fastapi
uvicorn[standard]
python-dotenv
pydantic
numpy
scipy
faiss-cpu
fastembed
python-multipart
sqlalchemy
pypdf
python-docx
python-pptx
opencv-python-headless
easyocr
scikit-learn
sentence-transformers
pillow
